:root {
    --fuente: 'Josefin Sans', sans-serif;
    
    --negro: #000;
    --blanco: #fff;
    --lavanda: #f5e6e8;
    --cardo: #d5c6e0;
    --rosa-cuarzo: #aaa1c8;
    --rosa-algo: #967aa1;
    --azul: #192a51;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
}
/*Globales*/
.contenedor {

    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    color: var(--negro);
    font-family: var(--fuente);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
p {
    font-family: var(--fuente);
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--negro);
}
img {
    width: 100%;
}

/*Utilidades*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/*header*/
.header {
    background-image: url(/img/HD-wallpaper-poppy-flowers-field-flowers-field-nature.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.logo__nombre {
    color: var(--negro);
}
.barra {
    background-color: var(--cardo);
    display: block;
    text-align: center;
}
@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        height: 110px;
    }
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--azul);
    gap: 2rem;
}

/*Main*/
.main {
    background-color: var(--cardo);
}

/*Grid*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

/*Servicio*/
.servicio {
    background-color: var(--rosa-algo);
    padding: 1rem;
    border-radius: 1.2rem;
}
.servicio__imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1.2rem;
}
.servicio__nombre {
    font-family: var(--fuente);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
}
.servicio__informacion {
    font-family: var(--fuente);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
}
.footer {
    background-color: var(--cardo);
}

/*nosotros*/
.nosotros{
    background-color: var(--cardo);
}
@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
}
.titulo_nosotros {
    text-align: center;
}

/*Boton*/
.boton {
    background-color: var(--azul);
    display: block;
    font-family: var(--fuente);
    color: var(--blanco);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 150px;
    height: 80px;
}
.boton:hover {
    cursor: pointer;
}
span {
    font-weight: 700;
}

/*Formulario*/
.formulario {
    display: flex;
    flex-direction: column;
}
.formulario__boton {
    align-items: center;
}

/*caja*/
.caja {
    width: 300px;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}